.hidden-links {
	text-decoration: none;
	color: #536482;		/* This is a comment, and this color is a greyish-blue */
}
body{
  background-image: url(Background.jpg);
}
h1 {
    color: silver;
    font-size: 75px;
    text-align: center;
}
p {
	background-color:rgba(0, 0, 0, 0.5);
	color: #2962FF;
  font-size: 40px;
  text-align: left;
}
